@font-face {
	font-family: DeutschGothic;
	src: url('..//fonts/4017.ttf');
	font-weight: normal;
	font-style: normal;
}

/* @font-face {
	font-family: DS Yermak_D;
	src: url('..//fonts/yermak.TTF');
	font-weight: normal;
	font-style: normal;
} */