
body {
	background: url('../images/back.gif');
	background-size: cover;
	background-repeat: no-repeat;
}

.max-img {
	position: fixed;
	top: 15%;
	left: 45%;
}



.poem {
	font-family: DS Yermak_D;
	font-size: 34px;
	color: #8F0000;
	padding:0 35px;
	margin: 2% 0;
	line-height: 65px;
}


.angels-wrapper {
	width: 100%;
	height: auto;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	position: relative;
}

#angels {
	position: absolute;
	left: 90%;
	top: -245px;
	width: 100px;
	opacity: 0.7;
}


@media only screen and (max-width : 320px) {
	.poem {
		font-size: 15px;
	}
}
