body {
	background: url('../images/back.gif');
	background-size: cover;
	background-repeat: no-repeat;
	max-height: 20px;
}

.max-img {
	position: absolute;
	top: 15%;
	left: 45%;
}

.poem {
	font-family: DS Yermak_D;
	font-size: 45px;
	color: #8F0000;
	padding:0 35px;
	margin: 2% 0;
}

.angels {
	position: fixed;
	top: 19px;
	left : 88%;
	width: 100px;
	opacity: 0.7;
}