body {
	font-family: "Open Sans";
	font-size: 14px;
	border: 0;
	background-color: #f1f1f1;
	max-height: 1868px;
}

.top_section {
	height: 100px;
}

.background {
	background-color: #e1e1e1;
	position:relative;
}

.container {
	width: 600px;

}
.wrapper {
	position: relative;
	bottom: 100px;

}

.top_header {
	background-color: #53545e;
	height: 100px;

}

.logo a {
	padding: 30px 0px 30px 30px;
	display: inline-block;
	float: left;
}

h1 {
	font-family: "Open Sans";
	color: white;
	font-size: 30px;
	display: block;
	float: left;
	padding: 25px 0 0 20px;
	margin: 0;
}

.gray {
    color: #a6a7b0;
}

.top_header p {
	display: inline-block;
	font-family: "Open Sans";
	font-weight: bold;
	color: white;
    font-size: 12px;
	padding:30px;
	float: right;
}

.main_content {
	padding: 30px;
	background-color: #ffffff;
}

h2 {
	font-size: 18px;
    color:#666666;
    font-family: "Open Sans";
    margin: 15px 0 0 0;
}

p {
	font-size:14px;
	color: #cccccc;
	font-family: "Helvetica Neue";
	margin: 10px 0 10px 0;
}

input[type="submit"], 
input[type="button"] { 
    display: inline-block;
    padding: 10px;
    color: #ffffff;
    background: #53545e;
    border: none;
    font-family: "Open Sans";
    font-weight: bold;
}

hr {
	background-color: rgb(234, 234, 234);
	width: 540px;
	margin: 30px 0 20px 0;
	height: 1px;
}

.hr_like {
	margin-bottom: 30px;
}

.delimiter {
	margin: 220px 0 20px 0;	
}

.photo_2{
	margin-left: -30px;
	float: right;
}

.description {
	padding-left: 52px;
}

.column {
	float: left;
	margin-left: 30px;
}

.first {
	margin-left: 0;
}

.section_above_footer {
	height: 75px;
	background-color: rgba(241, 241, 241, 1);
	position: relative;
	z-index: 20;
}

.section_above_footer h2 {
	margin: 25px 30px;
	display: inline-block;
}

.social {
	padding: 20px 30px 20px 0;
	float: right;
}

.social_icons {
	margin-left: 5px;
}

.footer_main {
	background-color: #53545e;
	height: 190px;
	z-index: 20;
	position: relative;
}

.footer_main p {
	color: white;
}

.footer_text {
	display: inline-block;
}

.footer_text p {
    line-height: 160%;
	margin: 25px 30px;
	display: inline-block;
}

.footer_main ul {
	float: right;
  	padding: 11px 30px;
	list-style-image: url("../images/bullet.png");
	margin: 5px 0 0 0;
}

.footer_main a {
	display: block;
	margin-bottom: -8px;
}

.footer_main hr {
	background-color: rgb(166, 167, 176);
	margin: 0 30px 20px;
}

.stay_connected {
	font-size:12px;
	color: #cccccc !important;
	margin:-5px 30px;
	display: inline-block;

}

.white {
	color: #ffffff;
}

.All_Rights_Reserved {
	float: left;
}

.Unsubscribe{
	float: right;
}

.footer_bottom {
	height: 365px;
	bottom: 365px;
	z-index: auto;
	position: relative;
}
