@font-face {
  font-family: 'globerregular';
  src: url("../fonts/glober_regular-webfont.woff2") format("woff2"), url("../fonts/glober_regular-webfont.woff") format("woff"), url("../fonts/glober_regular-webfont.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'globerheavy';
  src: url("../fonts/glober_heavy-webfont.woff2") format("woff2"), url("../fonts/glober_heavy-webfont.woff") format("woff"), url("../fonts/Glober_Heavy.otf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'globerlight';
  src: url("../fonts/glober_light-webfont.woff2") format("woff2"), url("../fonts/glober_light-webfont.woff") format("woff"), url("../fonts/Glober_Light.otf format") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'globersemibold';
  src: url("../fonts/glober_semibold-webfont.woff2") format("woff2"), url("../fonts/glober_semibold-webfont.woff") format("woff"), url("../fonts/Glober_SemiBold.otf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #fffffe;
  overflow-x: hidden;
}

.wrapper {
  font-family: 'globersemibold';
  max-width: 1200px;
  margin: 8px auto;
  border-radius: 7px;
  -webkit-box-shadow: -1px 0px 10px -1px #a3a3a2;
          box-shadow: -1px 0px 10px -1px #a3a3a2;
}

.top__section {
  position: relative;
  background-color: #ffd539;
  padding: 55px;
  border-radius: 5px;
}
.top__section .top__section-heading {
  font-family: 'globerregular';
  font-size: 90px;
  line-height: 1.07;
  color: #000;
}
.top__section p {
  font-size: 25px;
}

.wish__section {
  position: relative;
  margin-top: 20px;
  background-color: #ffdb4d;
  border-radius: 5px;
}
.wish__section .wish__section-block {
  margin-top: 85px;
  z-index: 10;
  text-align: center;
}
.wish__section .wish__section-heading {
  position: absolute;
  top: -85px;
  left: 10px;
  font-family: 'globerheavy';
  font-size: 240px;
  color: #ffffff;
  z-index: 5;
}
.wish__section .wish__section-subheading {
  display: inline-block;
  font-family: 'globersemibold';
  font-size: 100px;
  line-height: 1;
  color: #000;
}
.wish__section .wish__section-sign {
  display: inline-block;
  font-size: 50px;
  line-height: 1;
  color: #000;
}
.wish__section .wish__section-subheading-sm {
  font-family: 'globersemibold';
  font-size: 50px;
  letter-spacing: -1px;
  text-align: center;
  line-height: 1;
  color: #000;
}
.wish__section .wish__section-text {
  font-family: 'globersemibold';
  font-size: 25px;
}

.registration__section {
  margin-top: 40px;
  background: url("../images/back-circle.png") no-repeat center;
  background-size: contain;
}
.registration__section .registration__section-heading {
  font-size: 240px;
  text-align: center;
}
.registration__section .registration__section-subheading {
  font-family: 'globersemibold';
  font-size: 45px;
  margin-top: -20px;
  text-align: center;
  line-height: 1;
  color: #000;
}
.registration__section .registration__section-btn {
  display: block;
  position: relative;
  width: 56%;
  padding: 20px 60px;
  margin: 50px auto 70px;
  text-align: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-family: "globerregular";
  font-size: 35px;
  line-height: 1;
  -webkit-box-shadow: 0px 32px 50px -25px #d1d1d1;
          box-shadow: 0px 32px 50px -25px #d1d1d1;
  text-decoration: none;
  color: #ffffff;
  background-color: #91c808;
  border-radius: 4px;
  border: 1px solid #91c808;
  border-style: solid;
}
.registration__section .registration__section-btn:hover {
  background-color: #9bd609;
  border: 1px solid #9bd609;
}
.registration__section p {
  display: block;
  width: 56%;
  margin: 0 auto 20px;
  font-size: 26px;
  color: #666666;
  font-family: 'globersemibold';
}

.registration__section-code {
  text-align: center;
}
.registration__section-code .registration__section-code-value {
  display: inline-block;
  width: 450px;
  height: 79px;
  padding: 9px 10px 0;
  vertical-align: top;
  border-radius: 4px;
  background-color: #ffffff;
  border: 2px solid #d9d8db;
  outline: none;
  -webkit-box-shadow: 0 30px 40px 0 rgba(80, 78, 93, 0.22);
          box-shadow: 0 30px 40px 0 rgba(80, 78, 93, 0.22);
  font-family: "globerregular";
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
}
