/*
**
**  STATIC PAGES STYLES
**
*/
/* faq */
.quest__block {
  padding: 0;
}

.faq_request {
  padding: 15px 15px 8px;
  cursor: pointer;
}

.faq_request p {
  font-weight: bold;
  font-size: 18px;
}

.faq_response {
  padding: 10px 15px;
}

/* kak-podshit-dzhinsy */
.podshit img {
  margin-bottom: 15px;
  margin-top: 15px;
  -webkit-box-shadow: 0 0 5px #dcddde;
          box-shadow: 0 0 5px #dcddde;
}

/* uhod-za-odezhdoj */
.icons__uhod {
  padding: 15px;
}

.i__row p {
  padding: 8px 8px 8px 50px;
  background-image: url(/files/uploads/uhod/i_test.png);
  background-position: left center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.breadcrumb__previous_page {
  font-size: 12px;
  font-family: "Arial";
  color: gray;
  line-height: 1.667;
  text-align: left;
  float: right;
  text-transform: uppercase;
  margin-right: 15px;
  padding-top: 3px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.main__heading-aboutClothes {
  text-align: center;
  border: none !important;
  padding-bottom: 0;
}

.fashion__people-title {
  text-transform: uppercase;
}

.header__aboutClothes .dotes {
  margin: 0 auto;
  display: block;
}
.header__aboutClothes .nav__aboutClothes {
  margin: 25px auto;
  text-align: center;
}

.heading__aboutClothes {
  font-size: 16px;
  font-family: "Arial";
  color: #454545;
  line-height: 1.563;
  text-align: center;
  margin-right: 27px;
  margin-left: 27px;
  text-decoration: underline !important;
}

.heading__aboutClothes-active {
  color: #f13232;
}

@media only screen and (max-width: 765px) {
  .delimiter {
    display: none;
  }

  .heading__aboutClothes {
    margin-left: 0;
  }
}
@media only screen and (max-width: 570px) {
  .heading__aboutClothes {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    float: left;
    margin-right: 113px;
  }

  .footer__line {
    border-bottom: none !important;
  }

  .content__aboutClothes {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 320px) {
  .heading__aboutClothes {
    margin-bottom: 5px;
    font-size: 15px;
    text-align: center;
    float: left;
    margin-right: 55px;
  }

  .main__heading-aboutClothes {
    font-size: 16px;
  }

  .nav__aboutClothes {
    margin: 15px auto !important;
  }
}
.content__aboutClothes {
  margin-right: 2%;
}
.content__aboutClothes .blog {
  margin-bottom: 40px;
}

.blog__icon {
  float: left;
  margin-right: 15px;
  height: 47px;
  width: 47px;
}

.blog__date {
  font-size: 14px;
  display: inline-block;
  font-family: "Arial";
  color: #404040;
  vertical-align: super;
  line-height: 0;
}

.blog__heading {
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 11px;
}

.blog__text {
  padding-left: 62px;
  margin-bottom: 0;
  line-height: 1.5;
}

.blog__moreInfo {
  margin-left: 62px;
}

.dotes {
  margin: 35px auto;
  display: block;
}

.blog__moreInfo, .interesting__moreInfo {
  color: #f13232;
  text-decoration: underline !important;
}

.interesting h5 {
  font-weight: bold;
}

.interesting__main-heading {
  margin-top: 0;
}

@media only screen and (max-width: 1024px) {
  .laptop__pag {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .interesting__main-heading {
    margin-top: 50px;
  }
}
.interesting__heading {
  margin-top: 40px;
}

.interesting__main-heading, .interesting__heading {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px dotted #454545;
  display: inline-block;
}

.interesting_pic {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 22px;
}

.interesting_text {
  margin: 0;
}

.blog__content-interesting {
  margin-top: 10px;
}

.dotes__interesting {
  margin: 22px auto;
  display: block;
}

.articles__btn {
  background: #5380e6;
  width: 119px;
  height: 42px;
  color: #fff;
  border: none;
  margin: 0 auto;
  display: block;
}
.articles__btn:hover {
  background: #eef1f8;
  color: #1c2427;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.showMore {
  width: 100%;
  height: 81px;
  background-color: #f5f7f7;
  border: 2px solid #e5e5e5;
  color: rgba(0, 0, 0, 0.6);
}

.pagination__magazine li {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
.pagination__magazine li a {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__magazine {
  float: left;
}

.pagination__magazine-right {
  float: right;
}
.pagination__magazine-right li:last-child a {
  margin-right: 0;
}

.nav__pages {
  float: left;
  padding-right: 20px;
  vertical-align: middle;
  display: inline-block;
  padding-top: 6px;
  font-size: 13px;
}

.footer__line {
  border-bottom: 2px solid #e5e5e5;
}

@media only screen and (max-width: 425px) {
  .pagination__magazine-right {
    float: left;
  }
}
@media only screen and (max-width: 320px) {
  .mobile__pag {
    display: none;
  }

  .content__aboutClothes {
    margin-top: 40px;
  }
}
/*----------------------
-------PROMO-PAGE-------
------------------------*/
.promo {
  background: url("..//about_company/img/background.png") no-repeat;
  background-position: 100% 85%;
}

.topline__promo {
  margin-top: 32px;
  min-height: 363px;
}
.topline__promo .topline__promo-logo {
  float: left;
}
.topline__promo .topline__promo-image {
  -webkit-box-shadow: 0px 0px 31px 10px rgba(230, 230, 230, 0.72);
          box-shadow: 0px 0px 31px 10px rgba(230, 230, 230, 0.72);
  width: 100%;
}

.topline__promo-mainHeading {
  font-size: 30px;
  font-family: "Arial";
  color: #454545;
  line-height: 0.833;
  margin: 42px 0 0 18px;
  display: inline-block;
}

.clearfix {
  display: table;
  clear: both;
}

.topline__promo-descr {
  float: left;
  margin-top: 25px;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .topline__promo-image {
    margin: 25px auto !important;
  }

  .topline__promo .topline__promo-descr:last-child {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 320px) {
  .topline__promo-mainHeading {
    margin: 42px 0 0 0 !important;
  }
}
/*--------------------
-------content--------
----------------------*/
.content__promo {
  margin-top: 51px;
}

.content__promo-advantages {
  font-size: 16px;
  font-family: "Arial";
  color: #454545;
  line-height: 1.875;
  text-align: left;
}

.content__promo .topline__promo-logo {
  margin-left: 61px;
}

.content__promo-advantages {
  counter-reset: myCounter;
  padding: 0;
  margin-top: 15px;
}
.content__promo-advantages .advantages-item {
  list-style: none;
  position: relative;
  margin-bottom: 45px;
}
.content__promo-advantages li:before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: white;
  background: #f24848;
  display: inline-block;
  text-align: center;
  margin: 15px -45px;
  line-height: 28px;
  width: 28px;
  height: 28px;
  position: absolute;
}

.promo__carousel {
  list-style: none;
  width: 100%;
  padding: 0;
}

.promo__carousel-item_1, .promo__carousel-item_2 {
  position: absolute;
}

.promo__carousel-item_1 {
  top: 27px;
  left: 5px;
}

.promo__carousel-item_2 {
  top: 354px;
  left: 5px;
}

.promo__carousel-item-main {
  position: relative;
  display: block;
  left: 13%;
  top: 160px;
  z-index: 1;
}
.promo__carousel-item-main img {
  border: 3px solid #ed4747;
}

.promo__carousel-item-main img {
  width: 72%;
  height: 277px;
}

.promo__carousel-item_1 img,
.promo__carousel-item_2 img {
  width: 333px;
  height: 220px;
}

.promo__carousel-arrowLeft, .promo__carousel-arrowRight {
  display: inline-block;
  border: 1px solid #ed4747;
  background-color: #ed4747;
  color: #fff;
}
.promo__carousel-arrowLeft:hover, .promo__carousel-arrowRight:hover {
  cursor: pointer;
}
.promo__carousel-arrowLeft span, .promo__carousel-arrowRight span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.promo__carousel-arrowRight {
  padding: 11px 14px 9px 16px;
}

.promo__carousel-arrowLeft {
  padding: 11px 14px 9px 16px;
}

/*---------------------------
---------CONTACTS-PAGE-------
----------------------------*/
.contacts__header {
  margin-bottom: 38px;
}
.contacts__heading {
  margin: 5px 0 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}
.contacts__block {
  width: 47.5%;
  border: 3px solid #e5e5e5;
  float: left;
  margin-bottom: 5%;
}
.contacts__icon {
  margin: 14%;
  margin-right: 0;
  float: left;
}
.contacts__block-descr {
  float: right;
  margin-right: 15.7%;
  margin-top: 9.6%;
}
.contacts__block-heading {
  font-size: 16px;
  font-family: "Arial";
  color: #424242;
  font-weight: bold;
  line-height: 1.563;
  margin-bottom: 32px;
}
.contacts__mail__rodeo {
  border-bottom: 1px solid;
}

.contacts__block-descr_message {
  margin-right: 20.7%;
}

.contacts__block-phone {
  margin-right: 5%;
}

@media only screen and (max-width: 1023px) {
  .contacts__block {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .contacts__block-descr {
    margin-right: 13.7%;
    margin-top: 6%;
  }

  .contacts__block-descr_message {
    margin-right: 20.7%;
  }

  .contacts__icon {
    margin: 7%;
  }
}
@media only screen and (max-width: 425px) {
  .contacts__icon {
    margin: 5%;
  }

  .contacts__block-descr, .contacts__block-descr_message {
    float: left;
    margin: 3% 1%;
  }
}
@media only screen and (max-width: 370px) {
  .contacts__icon {
    margin: 3%;
  }

  .contacts__block-descr, .contacts__block-descr_message {
    margin: 3% 1%;
    font-size: 12px;
  }

  .contacts__block-heading {
    font-size: 14px;
  }
}
@media only screen and (max-width: 320px) {
  .contacts__icon {
    margin: 3% 2%;
  }
}
/*---------------------------
---------CLOTHING_CARE-PAGE-------
----------------------------*/
.head__clothing h1 {
  font-size: 24px;
}

.care__heading {
  color: #303030;
  line-height: 1.786;
  padding: 15px 0 11px;
  border-top: 1px solid #ddd;
  margin: 12px 0 0;
}

.heading__toggle p {
  font-size: 20px;
  font-weight: bold;
  padding: 33px 0 24px 0;
  margin: 0;
  cursor: pointer;
  display: inline-block;
}
.heading__toggle svg {
  float: right;
}
.heading__toggle:hover {
  cursor: pointer;
}

.list__group-item_care {
  position: relative;
  display: block;
  margin-bottom: -1px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/*plus-minus-------------
------------------------*/
.closed {
  display: inline-block;
  float: right;
  margin-right: 28px;
}
.closed .vertical {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.closed .horizontal {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  opacity: 1;
}

.opened {
  opacity: 1;
}
.opened .vertical {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.opened .horizontal {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  opacity: 0;
}

.circle {
  margin-top: 30px;
}

.circle-plus {
  height: 16px;
  width: 3px;
  opacity: .7;
}

.circle-plus .circle {
  position: relative;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  border: solid 2px #cccccc;
}

.circle-plus .circle .horizontal {
  position: absolute;
  background-color: #ccc;
  width: 16px;
  height: 2px;
  left: 79.5%;
  margin-left: -15px;
  top: 56.5%;
  margin-top: -2.5px;
}

.circle-plus .circle .vertical {
  position: absolute;
  background-color: #ccc;
  width: 2px;
  height: 16px;
  left: 56.5%;
  margin-left: -2.5px;
  top: 80%;
  margin-top: -15px;
}

/*plus-minus-end------------
------------------------*/
.collapse__recommends-list, .collapse__recommends-listMarked {
  padding: 0 15px 0;
}
.collapse__recommends-list li, .collapse__recommends-listMarked li {
  padding-bottom: 7px;
}

.collapse__recommends-listMarked li {
  position: relative;
  list-style: none;
}
.collapse__recommends-listMarked li::before {
  background-image: url("..//clothing_care/img/bullet.png");
  content: "";
  width: 8px;
  height: 8px;
  left: -16px;
  top: 16px;
  position: absolute;
}
.collapse__recommends-listMarked .short__markers::before {
  left: -16px;
  top: 6.5px !important;
}

.icons__uhod {
  padding-bottom: 0;
  padding-top: 0;
}

.decoding__icons {
  font-size: 13px;
  font-weight: bold;
  margin-top: 26px;
  margin-bottom: 21px;
}

.icons__uhod p {
  margin: 8px 8px 8px 16px;
  position: absolute;
  display: inline-block;
  font-size: 13px;
}

.descr_2rows {
  margin: 3px 8px 8px 16px !important;
}

.descr_3rows {
  margin: -3px 8px 8px 16px !important;
}

.care__icon {
  width: 33%;
  float: left;
  position: relative;
  margin-bottom: 12.5px;
  margin-top: 12.5px;
}
.care__icon:last-child {
  margin-right: 0;
}

.icons {
  background-image: url("..//clothing_care/img/sprites.png");
  background-size: auto;
  width: 37px;
  height: 37px;
  float: left;
}

@media only screen and (max-width: 768px) {
  .care__icon {
    margin-bottom: 25px;
  }

  .descr_2rows {
    margin: -7px 8px 8px 16px !important;
  }

  .descr_3rows {
    margin: -13px 8px 8px 16px !important;
  }

  .icons__uhod {
    padding-bottom: 15px;
  }
}
@media only screen and (max-width: 1196px) {
  .icons__uhod {
    padding-bottom: 30px;
  }
}
@media only screen and (max-width: 992px) {
  .care__icon {
    margin-bottom: 25px;
  }

  .descr_3rows {
    margin: -13px 8px 8px 16px !important;
  }

  .icons__uhod {
    padding-bottom: 25px;
    padding-top: 5px;
  }
}
@media only screen and (max-width: 690px) {
  .care__icon {
    margin-bottom: 55px;
  }
}
@media only screen and (max-width: 620px) {
  .care__icon {
    width: 100%;
    float: left;
    margin: 20px auto;
  }

  .icons__uhod {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.icon-1 {
  background-position: 0 0;
}

.icon-2 {
  background-position: 0 4.2%;
}

.icon-3 {
  background-position: 0 8.3%;
}

.icon-4 {
  background-position: 0 12.5%;
}

.icon-5 {
  background-position: 0 16.7%;
}

.icon-6 {
  background-position: 0 20.8%;
}

.icon-7 {
  background-position: 0 25%;
}

.icon-8 {
  background-position: 0.1% 29.2%;
}

.icon-9 {
  background-position: 0 33.3%;
}

.icon-10 {
  background-position: 0 37.5%;
}

.icon-11 {
  background-position: 0 41.7%;
}

.icon-12 {
  background-position: 0 45.8%;
}

.icon-13 {
  background-position: 0 50%;
}

.icon-14 {
  background-position: 0 54.2%;
}

.icon-15 {
  background-position: 0 58.3%;
}

.icon-16 {
  background-position: 0 62.5%;
}

.icon-17 {
  background-position: 0 66.7%;
}

.icon-18 {
  background-position: 0 70.8%;
}

.icon-19 {
  background-position: 0 75%;
}

.icon-20 {
  background-position: 0 79.2%;
}

.icon-21 {
  background-position: 0 83.3%;
}

.icon-22 {
  background-position: 0 87.5%;
}

.icon-23 {
  background-position: 0 91.7%;
}

.icon-24 {
  background-position: 0 95.8%;
}

.icon-25 {
  background-position: 0 100%;
}

.icon-26 {
  background-position: 53% 0;
}

.icon-27 {
  background-position: 53% 4.2%;
}

.icon-28 {
  background-position: 53% 8.3%;
}

.icon-29 {
  background-position: 53% 12.5%;
}

.icon-30 {
  background-position: 53% 16.7%;
}

.icon-31 {
  background-position: 53% 20.8%;
}

.icon-32 {
  background-position: 53% 25%;
}

.icon-33 {
  background-position: 53% 29.2%;
}

.icon-34 {
  background-position: 53% 33.3%;
}

.icon-35 {
  background-position: 53% 37.5%;
}

.icon-36 {
  background-position: 53% 41.7%;
}

.icon-37 {
  background-position: 53% 45.8%;
}

.icon-38 {
  background-position: 53% 50%;
}

.icon-39 {
  background-position: 53% 54.2%;
}

.icon-40 {
  background-position: 53% 58.3%;
}

.icon-41 {
  background-position: 53% 62.5%;
}

.icon-42 {
  background-position: 53% 66.7%;
}

.icon-43 {
  background-position: 53% 70.8%;
}

.icon-44 {
  background-position: 53% 75%;
}

.icon-45 {
  background-position: 53% 79.2%;
}

.icon-46 {
  background-position: 53% 83.3%;
}

.icon-47 {
  background-position: 53% 87.5%;
}

.icon-48 {
  background-position: 53% 91.7%;
}

.icon-49 {
  background-position: 53% 95.8%;
}

.icon-50 {
  background-position: 53% 100%;
}

.icon-51 {
  background-position: 100% 0%;
}

.icon-52 {
  background-position: 100% 4.2%;
}

.icon-53 {
  background-position: 100% 8.3%;
}

.icon-54 {
  background-position: 100% 12.5%;
}

.icon-55 {
  background-position: 100% 16.7%;
}

.icon-56 {
  background-position: 100% 20.8%;
}

.icon-57 {
  background-position: 100% 25%;
}

.icon-58 {
  background-position: 100% 29.2%;
}

.icon-59 {
  background-position: 100% 33.3%;
}

.icon-60 {
  background-position: 100% 37.5%;
}

.icon-61 {
  background-position: 100% 41.7%;
}

.icon-62 {
  background-position: 100% 45.8%;
}

.icon-63 {
  background-position: 100% 50%;
}

.icon-64 {
  background-position: 100% 54.2%;
}

.icon-65 {
  background-position: 100% 58.3%;
}

.icon-66 {
  background-position: 100% 62.5%;
}

.icon-67 {
  background-position: 100% 66.7%;
}

.icon-68 {
  background-position: 100% 70.8%;
}

.icon-69 {
  background-position: 100% 75%;
}

.icon-70 {
  background-position: 100% 79.2%;
}

.icon-71 {
  background-position: 100% 83.3%;
}

.icon-72 {
  background-position: 100% 87.5%;
}

.icon-73 {
  background-position: 100% 91.7%;
}

.icon-74 {
  background-position: 100% 95.8%;
}

.icon-75 {
  background-position: 100% 100%;
}

.icon-76 {
  background-position: 100% 100%;
}

/*  REPAYMENT--PAGE
=====================
*/
.head__clothing-repayment {
  margin-bottom: 25px;
  border-top: 1px solid #ddd;
  margin-top: 15px;
}
.head__clothing-repayment h1 {
  margin-top: 33px;
}

.repayment__heading {
  border-top: 1px solid #ddd;
  margin: 15px 0 25px;
}
.repayment__heading h1 {
  margin-top: 38px;
}

.heading__toggle .repayment__toggle {
  font-weight: normal;
}

.heading__recommends-descr {
  width: 85%;
  padding: 12px 0 16px;
}

.collapse__link {
  float: right;
}

.collapse__link-hide {
  margin-top: 33px;
  margin-right: 10px;
  z-index: 100;
  display: none;
}

.table__print {
  margin: 33px auto;
}

.underline__red {
  color: #f13232;
  border-bottom: 1px solid rgba(241, 50, 50, 0.5);
  font-size: 14px;
  border-bottom-width: 1px;
}
