/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.top_menu ul li {
	padding-right:70px;
}

.top_menu ul li:last-child {
	padding-right: 0;
}

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

.top_menu ul li {
	padding-right: 50px;
}

.top_menu ul li:last-child {
	padding-right: 0;
}

.flex-item {
	margin-right: 30px;	
}

.flex-item img {
	width: 150px;
	height: 240px;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.top_menu ul li {
	padding-right: 45px;
}

.flex-item {
	margin-right: 0px;	
}

.flex-item img {
	width: 130px;
	height: 220px;
}

input[type="submit"] {
	width: 100px;
	height: 48px;
	font-size: 14px;
}

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.top_menu ul li {
	padding-right: 20px;
	display: block;
}

.header h2 {
	text-align: center;
}

.banner {
	display: none;
}

.content h2 {
	font-size: 20px;
}

.products  {
	display: inline-block;
}

.flex-item {
	margin: 0 auto;
	display: inline-block;
}

.product_container {
	margin: 0 auto;
	display: block;
}

.flex-item img {
	width: 140px;
	height: 200px;
	display: inline-block;
	text-align: center;
}

input[type="submit"] {
	margin-top: -11px ;
	margin-bottom: 40px;
}

.footer {
	height: 184px;
}

.footer ul {
	text-align: center;
	margin-right: 45px
}

.footer p {
	text-align: center;
	float: none;
	margin: 25px auto;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	
.top_menu ul li {
	padding-right: 10px;
}

.banner {
	display: none;
}
.content h2 {
	font-size: 13px;
}

.footer {
	height: 200px;
}

.footer ul {
	text-align: center;
}

.footer p {
	display: block;
	padding-top: 25px;
	margin: 0 auto;
}

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}