.loyalty .loyalty_heading {
  border-bottom: 1px solid #ddd;
}
.loyalty .loyalty_heading h1 {
  font-size: 24px;
  margin-bottom: 15px;
}
.loyalty .loyalty_banner {
  position: relative;
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: #f9f9f9;
  -webkit-box-shadow: 3px 0px 10px 1px #e6e6e6;
          box-shadow: 3px 0px 10px 1px #e6e6e6;
}
.loyalty .loyalty_banner img {
  max-width: 100px;
  position: relative;
  padding: 6px;
  float: left;
}

.loyalty_banner::after {
  content: "";
  position: absolute;
  background: #ef4747;
  width: 111px;
  height: 111px;
  border: 1px solid #ddd;
  z-index: -1;
  left: -16px;
  top: -18px;
}

.loyalty_banner-inner {
  padding: 13px 0 7px;
  text-align: center;
}
.loyalty_banner-inner .loyalty_banner-heading {
  font-size: 36px;
  color: #c21a0d;
}

.center {
  text-align: center;
}

.bonus_program, .sales_program {
  margin-top: 25px;
}

.rodeo_piggy {
  max-width: 85px;
  max-height: 85px;
  margin-left: 20px;
  margin-top: -15px;
}

.loyalty_label {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 316px;
  height: 60px;
  line-height: 60px;
  color: #fff;
  background: #e21011;
  font-size: 22px;
  text-transform: uppercase;
}

.loyalty_label-2 {
  font-size: 18px;
  text-align: center;
  text-transform: none;
}

.bonus_table {
  margin: 25px 0;
}
.bonus_table .bonus_table-item {
  text-align: center;
  padding-bottom: 37px;
}
.bonus_table .bonus_table-item:nth-child(1) {
  border-bottom: 1px solid #ddd;
}
.bonus_table .bonus_table-item:nth-child(2) {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.bonus_table .bonus_table-item:nth-child(3) {
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.bonus_table .bonus_table-item:nth-child(5) {
  border-left: 1px solid #ddd;
}
.bonus_table .bonus_table-item:nth-child(6) {
  border-left: 1px solid #ddd;
}
.bonus_table span, .bonus_table strong {
  color: #e21011;
}
.bonus_table .bonus_table-number {
  font-size: 72px;
}
.bonus_table .bonus_table-text {
  font-size: 18px;
  margin-left: 5px;
  vertical-align: text-bottom;
  line-height: 5;
}
.bonus_table .bonus_table-text--procent {
  font-size: 30px;
  line-height: 3;
}
.bonus_table .bonus_table-conditions {
  margin-right: 25%;
}
.bonus_table .bonus_table-conditions:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 5px;
  right: 10px;
  background-image: url(..//img/1.png);
  background-size: cover;
  width: 20px;
  height: 20px;
}

.bonus_table .bonus_table-item:last-child .bonus_table-conditions {
  margin-right: -20px;
}

.bonus_table .bonus_table-item:nth-child(4) .bonus_table-conditions {
  margin-right: 46%;
}

.bonus_table-item .bonus_table-condition {
  position: absolute;
  left: 13%;
}

.loyalty_sales {
  margin-left: -20px;
}
.loyalty_sales:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 5px;
  right: 10px;
  background-image: url(..//img/1.png);
  background-size: cover;
  width: 20px;
  height: 20px;
}

.loyalty_footer {
  margin: 30px 0 20px;
}
.loyalty_footer p {
  position: relative;
  left: -5%;
  width: 105%;
  padding: 15px 15px;
  font-size: 15px;
  font-weight: bold;
  background: #a2a2a2;
  color: #fff;
}
.loyalty_footer div {
  text-align: center;
  margin-top: 15px;
}
.loyalty_footer span {
  font-size: 12px;
  color: #a2a2a2;
}

@media only screen and (max-width: 1199px) {
  .loyalty_label {
    width: 260px;
  }

  .bonus_table .bonus_table-item:last-child .bonus_table-conditions {
    margin-right: -15%;
  }

  .bonus_table-item .bonus_table-condition {
    left: 8%;
  }
}
@media only screen and (max-width: 991px) {
  .bonus_table .bonus_table-item:nth-child(1) {
    border-bottom: 1px solid #ddd;
  }
  .bonus_table .bonus_table-item:nth-child(2) {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  .bonus_table .bonus_table-item:nth-child(3) {
    border-bottom: 1px solid #ddd;
    border-left: none;
  }
  .bonus_table .bonus_table-item:nth-child(4) {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
  }
  .bonus_table .bonus_table-item:nth-child(5) {
    border-left: 1px solid #ddd;
    border-left: none;
  }
  .bonus_table .bonus_table-item:nth-child(6) {
    border-left: 1px solid #ddd;
  }

  .bonus_table-item .bonus_table-condition {
    left: 16%;
  }
}
@media only screen and (max-width: 768px) {
  .bonus_table .bonus_table-item:last-child .bonus_table-conditions {
    margin-right: -2%;
  }

  .loyalty_sales {
    margin-left: 0px;
  }

  .loyalty_footer p {
    position: relative;
    left: 0%;
    width: 100%;
  }
}
@media only screen and (max-width: 614px) {
  .loyalty_banner-inner .loyalty_banner-heading {
    font-size: 20px;
  }

  .rodeo_piggy {
    position: absolute;
    max-width: 40px;
    margin-left: -27px;
    margin-top: -15px;
  }

  .loyalty p, strong {
    font-size: 15px !important;
    text-align: left;
  }

  .bonus_program span:first-child, .sales_program span:first-child {
    text-align: left;
    font-size: 16px !important;
    float: left;
    width: 95%;
    margin-bottom: 20px;
  }

  .loyalty_label {
    width: 300px;
    height: 51px;
    line-height: 52px;
    font-size: 19px;
  }

  .bonus_table .bonus_table-number {
    font-size: 46px;
  }

  .bonus_table .bonus_table-text {
    font-size: 12px;
    vertical-align: text-bottom;
  }

  .bonus_table .bonus_table-conditions {
    margin-right: -3px !important;
    font-size: 12px;
    text-align: left;
  }

  .bonus_table .bonus_table-item:last-child .bonus_table-conditions {
    margin-right: -5%;
  }

  .bonus_table-item .bonus_table-condition {
    left: 8%;
  }

  .bonus_table-text--procent {
    font-size: 18px !important;
  }

  .loyalty_label-2 {
    display: block;
    margin: 30px auto 0;
  }

  .loyalty_footer p {
    position: relative;
    left: -5%;
    width: 110%;
    padding: 9px 30px;
  }
}
@media only screen and (max-width: 373px) {
  .bonus_table .bonus_table-number {
    font-size: 36px;
  }

  .bonus_table .bonus_table-conditions {
    margin-right: -33px !important;
  }
}
