
$green__text: rgb(36, 150, 50);


.bonus__page {
	p, span {
		color: rgba(0,0,0,0.5);
		display: inline-block;
	}
	.black__text {
		color: rgb(255, 255, 255);
		&:last-child {
			margin-bottom: 8px;
		}
	}
	.green__text {
		color: rgb(36, 150, 50);
	}
	b {
		span{
			font-size: 20px;
		}
	}
}


.bonus__link-float {
	float: right;
}

.bordered__section {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 25px 0 28px;
	margin-bottom: 30px;
	img {
		float: left;
	}
	h1 {
		float: left;
		display: inline-block;
		margin: 0px 10px 20px;
		font-size: 26px;
	}
}

.huge__text {
	font-size: 42px;
	font-weight: bold;
	color: #303030;
}

.bonus__page ul {
	counter-reset: list1;
	padding-left: 36px;
	padding-top: 5px;
	li {
		position: relative;
		list-style-type: none;
		&:before {
			counter-increment: list1;
			content: counter(list1,decimal);
			position: absolute;
			left: -33px;
			font-size: 14px;
			background: rgb(244, 244, 244);
			border-radius: 15px;
			border-right: 6px solid rgb(244, 244, 244);
			border-left: 6px solid rgb(244, 244, 244);
		}
		p {
			margin-bottom: 25px;
		}
	}
	
}

.bonus__footer {
	background-color: rgb(243, 90, 90);
	padding: 20px;
	p {
		color: #fff;
	}
}

@media only screen and (max-width: 375px) {
	.huge__text {
		font-size: 33px;
	}
}


/*------------------------
-----My-bonus-page--------
-------------------------*/

.bordered__section-Mybonus {
	padding: 25px 0 52px;
}

.my__bonus-page .my__bonus-list {
	list-style-type: none;
	padding-left: 19px;
	li {
		color: rgba(0, 0, 0, 0.5);
		margin-bottom: 7px;

		&:before {
			background-image: url('../img/bullet.png');
			content: "";
			width: 8px;
			height: 8px;
			left: -20px;
			top: 6px;
			position: absolute;
			border: none;
		}
	}

}

.underline {
	border-bottom: 1px solid #363434;
}

.grey__section {
	background-color: rgb(250, 250, 250);
	text-align: center;
	margin-top: 34px;
	.grey__section-text {
		font-size: 20px;
		color: rgb(95, 94, 94);
		padding-top: 35px;
		padding-bottom: 20px;
	}
}


/*------ORDERS-------
--------------------*/

.dtrm--order {
	p, span {
		color: rgba(0,0,0,0.5);
	}
	.black__text {
		color: rgb(100, 100, 100);
		&:last-child {
			margin-bottom: 8px;
		}
	}
	.green__text {
		color: rgb(36, 150, 50);
	}
	b {
		span{
			font-size: 20px;
		}
	}
}

.orders__link-float {
	float: right;
}

.ml-20 {
	margin-bottom: 20px;
}

.active__orange {
	border-bottom: 1px dotted #f13232;
	color: #f13232;
}

.orders__section {
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
	a {
		margin-right: 18px;
		margin-left: 18px;
		&:first-child {
			margin-left: 0;
		}
	}
}

@media only screen and (max-width: 375px) {
	.orders__section {
		a {
			margin-right:25px;
			margin-left: 0px;
		}
	}

	.orders__row-header {
		font-size: 12px;
	}

	.orders__row {
		font-size: 12px;
	}
}


/*-----------
----ORDER-PAGE--
(DTRM-CLASS)----
-----------*/

.dtrm .order__completed b{
	position: relative;	
	&:before {
		width: 7px;
		height: 7px;
		content: "";
		position: absolute;
		background-color: $green__text;
		border-radius: 50%;
		left: -19px;
		top: 5px;
	}
}

.order__info, .order__info-result {
	display: flex;
	align-items: center;
	color: #666;
	cursor: pointer;
	font-size: 14px;
	border: 2px solid rgb(247, 247, 247);
	margin-bottom: 28px;
	padding: 18px 18px 17px;
	div {
		flex: 1;
		text-align: center;
	}
	.order__info-number {
		text-align: left;
		flex: 0.1;
	}

	.order__info-descr {
		flex: 1.5;
		.pt-3 {
			text-align: left;
		}
	}

	.red__text {
		color: rgb(241, 50, 50);
	}
}

.blue__sticker {
	background-color: rgb(83, 128, 229);
	writing-mode: tb-rl;
	color: #fff;
	position: absolute;
	padding: 16px 5px;
	top: 89px;
	right: 25px;
}

.order__info-result {
	padding: 5px 17px;
	margin-bottom: 0px;
}

.red__text {
	color: rgb(241, 50, 50);
}

.quantity__counter {
	padding: 12px 16px;
	background-color: rgb(245, 245, 245);
}

.dtrm__footer {
	background-color: rgb(250, 250, 250);
	padding: 20px 30px;
	.dtrm__footer-heading {
		font-size: 17px;
	}
	.dtrm__footer-text {
		font-size: 13px;
		width: 83%;
	}
}

.dtrm__footer__rightSide {
	text-align: right;
	span, b, s {
		margin-top: 7px;
		display: inline-block;
	}
	.red__text {
		color: rgb(241, 50, 50);
	}
}

@media only screen and (max-width: 768px) {
	.dtrm__footer__rightSide {
		text-align: center;
	}
	.blue__sticker {
		writing-mode: lr-tb;
		right: 16px;
	}
	.order__info-descr .pt-3 {
		text-align: center;
	}
}

@media only screen and (max-width: 375px) {
	.order__info, .order__info-result {
	padding: 5px 0;
	}
	.blue__sticker {
		display: none;
	}

	.order__info-number {
		display: none;
	}
	.dtrm__footer .dtrm__footer-text {
		width: 100%;
	}
}

/*-----------
----ORDER-PAGE--
(DTRM-CLASS)----
-----------*/

.reviews__image {
	padding-top: 3px;
}

.reviews__section {
	border-bottom: 1px solid #ddd;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.rodeo__link {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.rodeo__link, .rodeo__link:hover,
.rodeo__link:active, .rodeo__link:focus {
  text-decoration: none;
}

.rodeo__link:hover {
  color: #f35a5a;
  border-bottom-color: #f35a5a;
}


.review__block {
  padding: 15px 0 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  b, span {
    padding-bottom: 14px;
    display: inline-block;
  }
}

.review__block>span {
  color: rgb(51, 51, 51);
}

.grey__text {
  color: rgba(0, 0, 0, 0.5);
}

.review__header:nth-child(odd) {
  margin-right: 15px;
}

.review__header, review__header-min, review__date {
  text-transform: uppercase;
}

.review__header-min {
  font-size: 11px;
}

.review__star {
  margin-top: -2px;
}

.reply__section-grey {
	margin-top: 24px;
	min-height: 132px;
	background-color: rgb(242, 242, 242);
	img {
		padding: 20px 17px;
	}
	.review__header {
		padding-top: 17px;
	}
}

.review__btn {
	padding: 1px 0 ;
	float: right;
	margin: -11px 0;
	width: 165px;
}

.review__images img {
	padding-bottom: 15px;
}

.underline__red {
	color: #f13232;
    border-bottom: 1px solid rgba(241, 50, 50, 0.5);
    font-size: 12px;
    border-bottom-width: 1px;
}
/*-----------
-----END----
-----------*/