@charset "UTF-8";
/*
**
**  STATIC PAGES STYLES
**
*/
/* faq */
.quest__block {
  padding: 0;
}

.faq_request {
  padding: 15px 15px 8px;
  cursor: pointer;
}

.faq_request p {
  font-weight: bold;
  font-size: 18px;
}

.faq_response {
  padding: 10px 15px;
}

/* kak-podshit-dzhinsy */
.podshit img {
  margin-bottom: 15px;
  margin-top: 15px;
  -webkit-box-shadow: 0 0 5px #dcddde;
          box-shadow: 0 0 5px #dcddde;
}

/* uhod-za-odezhdoj */
.icons__uhod {
  padding: 15px;
}

.i__row p {
  padding: 8px 8px 8px 50px;
  background-image: url(/files/uploads/uhod/i_test.png);
  background-position: left center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.breadcrumb__previous_page {
  font-size: 12px;
  font-family: "Arial";
  color: gray;
  line-height: 1.667;
  text-align: left;
  float: right;
  text-transform: uppercase;
  margin-right: 15px;
  padding-top: 3px;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.main__heading-aboutClothes {
  text-align: center;
  border: none !important;
  padding-bottom: 0;
}

.fashion__people-title {
  text-transform: uppercase;
}

.header__aboutClothes .dotes {
  margin: 0 auto;
  display: block;
}
.header__aboutClothes .nav__aboutClothes {
  margin: 25px auto;
  text-align: center;
}

.heading__aboutClothes {
  font-size: 16px;
  font-family: "Arial";
  color: #454545;
  line-height: 1.563;
  text-align: center;
  margin-right: 27px;
  margin-left: 27px;
  text-decoration: underline !important;
}

.heading__aboutClothes-active {
  color: #f13232;
}

@media only screen and (max-width: 765px) {
  .delimiter {
    display: none;
  }

  .heading__aboutClothes {
    margin-left: 0;
  }
}
@media only screen and (max-width: 570px) {
  .heading__aboutClothes {
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center;
    float: left;
    margin-right: 113px;
  }

  .footer__line {
    border-bottom: none !important;
  }

  .content__aboutClothes {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 320px) {
  .heading__aboutClothes {
    margin-bottom: 5px;
    font-size: 15px;
    text-align: center;
    float: left;
    margin-right: 55px;
  }

  .main__heading-aboutClothes {
    font-size: 16px;
  }

  .nav__aboutClothes {
    margin: 15px auto !important;
  }
}
.content__aboutClothes {
  margin-right: 2%;
}
.content__aboutClothes .blog {
  margin-bottom: 40px;
}

.blog__icon {
  float: left;
  margin-right: 15px;
  height: 47px;
  width: 47px;
}

.blog__date {
  font-size: 14px;
  display: inline-block;
  font-family: "Arial";
  color: #404040;
  vertical-align: super;
  line-height: 0;
}

.blog__heading {
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 11px;
}

.blog__text {
  padding-left: 62px;
  margin-bottom: 0;
  line-height: 1.5;
}

.blog__moreInfo {
  margin-left: 62px;
}

.dotes {
  margin: 35px auto;
  display: block;
}

.blog__moreInfo, .interesting__moreInfo {
  color: #f13232;
  text-decoration: underline !important;
}

.interesting h5 {
  font-weight: bold;
}

.interesting__main-heading {
  margin-top: 0;
}

@media only screen and (max-width: 1024px) {
  .laptop__pag {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .interesting__main-heading {
    margin-top: 50px;
  }
}
.interesting__heading {
  margin-top: 40px;
}

.interesting__main-heading, .interesting__heading {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-bottom: 1px dotted #454545;
  display: inline-block;
}

.interesting_pic {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 22px;
}

.interesting_text {
  margin: 0;
}

.blog__content-interesting {
  margin-top: 10px;
}

.dotes__interesting {
  margin: 22px auto;
  display: block;
}

.articles__btn {
  background: #5380e6;
  width: 119px;
  height: 42px;
  color: #fff;
  border: none;
  margin: 0 auto;
  display: block;
}
.articles__btn:hover {
  background: #eef1f8;
  color: #1c2427;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.showMore {
  width: 100%;
  height: 81px;
  background-color: #f5f7f7;
  border: 2px solid #e5e5e5;
  color: rgba(0, 0, 0, 0.6);
}

.pagination__magazine li {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
.pagination__magazine li a {
  color: rgba(0, 0, 0, 0.6);
}

.pagination__magazine {
  float: left;
}

.pagination__magazine-right {
  float: right;
}
.pagination__magazine-right li:last-child a {
  margin-right: 0;
}

.nav__pages {
  float: left;
  padding-right: 20px;
  vertical-align: middle;
  display: inline-block;
  padding-top: 6px;
  font-size: 13px;
}

.footer__line {
  border-bottom: 2px solid #e5e5e5;
}

@media only screen and (max-width: 425px) {
  .pagination__magazine-right {
    float: left;
  }
}
@media only screen and (max-width: 320px) {
  .mobile__pag {
    display: none;
  }

  .content__aboutClothes {
    margin-top: 40px;
  }
}
/*----------------------
-------PROMO-PAGE-------
------------------------*/
.promo {
  background: url("..//about_company/img/background.png") no-repeat;
  background-position: 100% 28%;
}

.topline__promo {
  margin-top: 32px;
  min-height: 363px;
}
.topline__promo .topline__promo-logo {
  float: left;
}
.topline__promo .topline__promo-image {
  -webkit-box-shadow: 0px 0px 31px 10px rgba(230, 230, 230, 0.72);
          box-shadow: 0px 0px 31px 10px rgba(230, 230, 230, 0.72);
  width: 100%;
}

.topline__promo h1 {
  font-size: 30px;
  font-family: "Arial";
  color: #454545;
  line-height: 0.833;
  margin: 42px 0 0 18px;
  display: inline-block;
}

.clearfix {
  display: table;
  clear: both;
}

.topline__promo-descr {
  float: left;
  margin-top: 25px;
  margin-bottom: 0;
}

@media only screen and (max-width: 992px) {
  .topline__promo-image {
    margin: 25px auto;
  }

  .topline__promo .topline__promo-descr:last-child {
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 320px) {
  .topline__promo h1 {
    margin: 42px 0 0 0 !important;
  }
}
/*--------------------
-------content--------
----------------------*/
.content__promo {
  margin-top: 51px;
}

.content__promo-advantages {
  font-size: 16px;
  font-family: "Arial";
  color: #454545;
  line-height: 1.875;
  text-align: left;
}

.content__promo .topline__promo-logo {
  float: left;
}
.content__promo h2 {
  font-size: 30px;
  font-family: "Arial";
  color: #454545;
  text-align: left;
  margin-top: 42px;
  font-weight: normal;
  float: left;
}

@media only screen and (min-width: 992px) {
  .content__promo .topline__promo-logo {
    margin-left: 45px;
  }
}
.content__promo-advantages {
  counter-reset: myCounter;
  padding: 0;
  margin-top: 15px;
}
.content__promo-advantages .advantages-item, .content__promo-advantages .advantages-item1 {
  list-style: none;
  position: relative;
  margin-bottom: 45px;
  margin-left: 45px;
}
.content__promo-advantages li:before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: white;
  background: #f24848;
  display: inline-block;
  text-align: center;
  line-height: 28px;
  width: 28px;
  height: 28px;
  position: absolute;
}

.content__promo-advantages .advantages-item::before {
  margin: 15px -45px;
}

.content__promo-advantages .advantages-item1::before {
  margin: 28px -45px;
}

.promo__carousel-arrowLeft, .promo__carousel-arrowRight {
  display: inline-block;
  border: 1px solid #ed4747;
  background-color: #ed4747;
  color: #fff;
  position: absolute;
}
.promo__carousel-arrowLeft:hover, .promo__carousel-arrowRight:hover {
  cursor: pointer;
}
.promo__carousel-arrowLeft span, .promo__carousel-arrowRight span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.promo__carousel-arrowRight {
  padding: 11px 14px 9px 17px;
  top: 87px;
  right: 123px;
}

.promo__carousel-arrowLeft {
  padding: 11px 17px 7px 16px;
  top: 513px;
  right: 123px;
}

/*тест-----*/
.slider-wrap {
  width: 100%;
}
.slider-wrap .slider {
  position: absolute;
  width: 100%;
  left: 10px;
  top: 20px;
}
.slider-wrap img {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-item {
  width: 407px;
  height: 278px;
  padding: 20px 0 25px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: absolute;
  opacity: 0;
  z-index: 0;
  left: 0px;
  top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 0px 29px 0px rgba(237, 71, 71, 0.43);
          box-shadow: 0px 0px 29px 0px rgba(237, 71, 71, 0.43);
}

.slider-item-1 {
  background-image: url("..//about_company/img/slide_4.jpg");
}

.slider-item-2 {
  background-image: url("..//about_company/img/carousel-pic.jpg  ");
}

.slider-item-3 {
  background-image: url(" ..//about_company/img/cowboy1.jpg");
}

.slider-item-4 {
  background-image: url("..//about_company/img/carousel-pic1.jpg  ");
}

@media only screen and (min-width: 992px) and (max-width: 1198px) {
  .content__promo-advantages {
    padding-left: 40px;
  }

  .promo__carousel-arrowLeft, .promo__carousel-arrowRight {
    right: -5px;
  }
}
.promo__section .logo-3 {
  float: left;
  margin-right: 9px;
}
.promo__section h2 {
  font-size: 30px;
  font-family: "Arial";
  color: #454545;
  text-align: left;
  padding-top: 33px;
  font-weight: normal;
}

@media only screen and (max-width: 425px) {
  .promo__section .logo-3 {
    float: none;
  }
  .promo__section h2 {
    padding-top: 0;
    font-size: 24px;
  }
}
/*--------bottom service-block----------
---------------------------------*/
.promo__services {
  margin-top: 50px;
  margin-bottom: 15px;
}

.promo__overlay-block {
  position: relative;
  width: 250px;
  float: left;
  margin: 56px 0 35px 10%;
}
.promo__overlay-block:first-child {
  margin-left: 0;
}

.service__main-block {
  height: 250px;
  width: 250px;
  z-index: 10;
  border: 8px solid #8a8a8a;
}

.service__secondary-block {
  height: 250px;
  width: 250px;
  z-index: 5;
  background: #f24848;
  position: absolute;
  bottom: 54px;
  right: 54px;
  padding-left: 15px;
  padding-right: 15px;
}
.service__secondary-block .service__heading {
  font-size: 16px;
  color: #fff;
  padding-top: 20px;
  margin: 0;
  text-align: left;
  font-weight: normal;
}
.service__secondary-block img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 45px;
  margin: auto;
}
.service__secondary-block p {
  font-size: 13px;
  color: #fff;
  padding-top: 120px;
  text-align: left;
}

@media only screen and (max-width: 1024px) {
  .promo__overlay-block {
    margin-left: 5%;
  }
}
@media only screen and (max-width: 768px) {
  .promo__overlay-block {
    margin-left: 30%;
  }
  .promo__overlay-block:first-child {
    margin-left: 30%;
  }
}
@media only screen and (max-width: 425px) {
  .service__main-block, .service__secondary-block {
    height: 245px;
    width: 245px;
  }

  .promo__overlay-block {
    margin-left: 15%;
  }
  .promo__overlay-block:first-child {
    margin-left: 15%;
  }
}
.border__block {
  border: 3px solid #ed4747;
  border-radius: 3px;
  width: 407px;
  height: 281px;
  -webkit-transform: matrix(1, 0, 0, 1, 103, 161.5);
          transform: matrix(1, 0, 0, 1, 103, 161.5);
  z-index: 10;
  position: absolute;
}

@-webkit-keyframes Fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes Fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.border__block-animate {
  -webkit-animation-name: Fade;
          animation-name: Fade;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
